doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/javascripts/app.css")
  body
    block content
    script(type='text/javascript', src='/javascripts/vendor.js')
    script(type='text/javascript', src='/javascripts/app.js')