doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    block content
    script(type='text/javascript', src='/static/js/bundle.js')